<% if description %>
  <div class="flex gap-gap-lg">
    <div class="flex h-icon-md shrink-0 items-center">
      <%= render Aeno::Checkbox::Component.new(
        name: name,
        value: value,
        checked: checked,
        disabled: disabled,
        id: checkbox_id,
        aria: { describedby: "#{checkbox_id}-description" }
      ) %>
    </div>
    <div class="text-sm/6">
      <%= label_tag(checkbox_id, label, class: "font-weight-medium text-foreground") %>
      <p id="<%= checkbox_id %>-description" class="text-muted-foreground"><%= description %></p>
    </div>
  </div>
<% else %>
  <div class="flex items-center gap-x-gap-lg">
    <div class="flex h-icon-md shrink-0 items-center">
      <%= render Aeno::Checkbox::Component.new(
        name: name,
        value: value,
        checked: checked,
        disabled: disabled,
        id: checkbox_id
      ) %>
    </div>
    <%= label_tag(checkbox_id, label, class: "block text-sm/6 font-weight-medium text-foreground") %>
  </div>
<% end %>
