<div class="cp-dropdown"
     data-controller="aeros--primitives--dropdown"
     data-aeros--primitives--dropdown-placement-value="<%= placement %>"
     data-aeros--primitives--dropdown-strategy-value="<%= strategy %>"
     data-aeros--primitives--dropdown-searchable-value="<%= searchable %>">

  <div class="cp-dropdown__trigger" data-aeros--primitives--dropdown-target="trigger" data-action="click->aeros--primitives--dropdown#toggle">
    <%= trigger %>
  </div>

  <div class="cp-dropdown__content"
       role="menu"
       aria-orientation="vertical"
       data-aeros--primitives--dropdown-target="content">

    <% if searchable %>
      <div class="cp-dropdown__search">
        <input type="text"
               class="cp-dropdown__search-input"
               placeholder="<%= placeholder %>"
               data-aeros--primitives--dropdown-target="search"
               data-action="input->aeros--primitives--dropdown#filter" />
      </div>
    <% end %>

    <div class="cp-dropdown__items" data-aeros--primitives--dropdown-target="items">
      <% items.each do |item| %>
        <%= item %>
      <% end %>

      <% if searchable %>
        <div class="cp-dropdown__empty" data-aeros--primitives--dropdown-target="empty">
          No results found
        </div>
      <% end %>
    </div>
  </div>
</div>
